@function vw($px-vw, $base-vw: 390px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 vw(20px);
  }
  .header-top {
    display: none;
  }
  .header {
    .logo {
      height: vw(30px);
    }
  }
  .hidden-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: $bg;
    border-top: 1px solid $main-color;
    height: calc(100vh - var(--headerheight));
    padding: vw(20px) vw(20px) vw(80px);
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translate(-110%, 0);
    transition: all 0.4s ease-out;
  }
  .header {
    .menu {
      width: 100%;

      ul {
        width: 100%;
        gap: vw(14px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        li {
          width: 100%;

          a {
            font-size: vw(14px);
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
  .header-info {
    width: 100%;
    margin-top: vw(30px);
    padding-top: vw(30px);
    border-top: 1px solid $main-color;
    gap: vw(14px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cart-block {
    margin-right: vw(12px);
    margin-left: auto;
  }
  .header-bot__cont {
    padding: vw(10px) 0;
  }
  .header-delivery {
    width: 100%;
    margin-top: vw(30px);
    padding-top: vw(30px);
    border-top: 1px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: vw(30px);
  }
  .cart-block .cart-ic {
    width: vw(40px);
    height: vw(40px);

    span {
      font-size: vw(10px);
    }
  }
  .cart-block {
    gap: vw(14px);
  }
  body {
    font-size: vw(13px);
  }
  .btn {
    font-size: vw(14px);
    padding: vw(13px) vw(29px);
    gap: vw(10px);

    .ic {
      width: vw(15px);
    }

    &.btn--pink {
      font-size: vw(18px);

      .ic {
        width: vw(24px);
      }
    }

    &.btn-paypal {
      gap: vw(10px);

      .ic {
        width: vw(52px);
      }
    }
  }
  .title {
    font-size: vw(28px);
  }
  .subtitle {
    font-size: vw(24px);
  }
  .burger {
    width: vw(32px);
    height: vw(18px);
    position: relative;

    &.active {
      span {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }

    span {
      width: 100%;
      height: 2px;
      background: $main-color;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 4px;
      transition: all 0.3s ease-out;

      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        top: auto;
        bottom: 0;
      }
    }
  }
  .header {
    &.active {
      .hidden-menu {
        transform: translate(0, 0);
      }
    }
  }
  .hero-slider .hero-slide .container {
    //align-items: flex-start;
  }
  .hero-slide__txt {
    max-width: 100%;
    padding-right: 0;
    padding-top: vw(20px);
    padding-bottom: vw(50px);
    align-items: center;
    gap: vw(20px);
    span, .title {
      text-align: center;
    }

    .title {
      margin-top: vw(-4px);
      color: $black;
    }
  }
  body main .hero-slider .swiper-pagination-bullets.dots .single-dot {
    background: $black;
    &.active {
      background: $main-color;
    }
  }
  .hero-slider {
    //height: calc(50vh - var(--headerheight));
    height: auto;
    .slider-btn {
      display: none;
    }
  }
  .hero-slider .hero-slide {
    .img {
      position: relative;
      height: auto;
      display: flex;
      &::after {
        content: none;
      }
    }
    .container {
      height: auto;
      background: #E8E8E8;
    }
  }
  .hero-slider .hero-slide .img {
    &::after {
      width: 100%;
      height: 100%;
      background: rgba(18, 18, 18, 0.32);
      display: inline-block;
      content: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .click-collect {
    height: auto;
    padding: vw(30px) 0;
  }
  .click-collect__block {
    transform: none;
  }
  body main .swiper-pagination-bullets.dots .single-dot {
    width: vw(12px);
    height: vw(12px);

    &.active {
      width: vw(50px);
    }
  }
  .click-collect__block {
    max-width: 100%;
    padding: vw(10px) vw(13px);
    gap: vw(16px);

    .img {
      width: vw(72px);
      height: vw(72px);

      img {
        height: vw(40px);
      }
    }

    .txt {
      span {
        font-size: vw(18px);
        margin-bottom: vw(5px);
      }
    }
  }
  .badges {
    padding: vw(40px) 0;

    &__cont {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: vw(20px);
    }
  }
  .single-badge {
    width: 100%;
    gap: vw(20px);

    .ic {
      width: vw(70px);
      height: vw(70px);

      img {
        height: vw(44px);
      }
    }

    .txt {
      gap: vw(8px);

      span {
        font-size: vw(18px);
      }
    }
  }
  .home-products {
    padding: vw(35px) 0;

    .subtitle {
      margin-bottom: vw(30px);
    }
  }
  .products-list {
    gap: vw(25px);

    .single-product {
      width: 100%;
    }
  }
  .single-product {
    .prices {
      gap: vw(10px);
      left: vw(14px);
      bottom: vw(14px);
      right: vw(14px);
    }

    .discount {
      font-size: vw(13px);
      padding: vw(4px) vw(8px);
    }

    .price {
      width: vw(98px);
      font-size: vw(18px);
      padding: vw(4px) vw(8px);

      strong {
        font-size: vw(13px);
        margin-right: vw(4px);
      }
    }

    .tags {
      top: vw(14px);
      left: vw(14px);
    }

    .text-sp {

      margin-top: vw(14px);

      span {
        font-size: vw(18px);
        margin-bottom: vw(8px);
      }

      p {
        margin-bottom: vw(14px);
      }
    }
  }
  .single-tag {
    padding: vw(4px) vw(8px);
  }
  .how-works {
    padding: vw(35px) 0;

    &__list {
      margin-top: vw(30px);
      gap: vw(20px);
      flex-wrap: wrap;
    }
  }
  .single-works {
    flex: initial;
    padding-top: vw(90px);
    padding-right: 0;
    //10px
    width: calc(50% - 2.5641vw);

    &::after {
      content: none;
    }

    span {
      font-size: vw(18px);
      margin-bottom: vw(12px);
      text-align: center;
      width: 100%;
    }

    p {
      width: 100%;
      text-align: center;
    }

    &::before {
      width: vw(62px);
      height: vw(62px);
      font-size: vw(24px);
    }
  }
  .feedback {
    padding: vw(35px) 0;

    &-block {
      margin-top: vw(35px);
    }
  }
  .footer {
    margin-top: vw(35px);
    padding: vw(30px) 0 0;

    .header-info {
      margin-top: 0;
    }

    &-top {
      padding-bottom: vw(16px);

      &__top {
        margin-bottom: vw(20px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &__logo {
        max-width: 100%;
        width: 100%;
      }
    }

    &-bot {
      padding: vw(20px) 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: vw(14px);


      .cards {
        height: vw(35px);
      }
    }
  }
  .footer-column {
    width: 100%;
    margin: vw(20px) 0;

    span {
      font-size: vw(18px);
      margin-bottom: vw(14px);
    }

    ul {
      gap: vw(10px);
    }
  }
  .footer-logo {
    height: vw(50px);
    margin-bottom: vw(18px);
  }


  .breadcrumbs-block {
    width: 100%;
    margin: vw(15px) 0;
  }
  .breadcrumbs {
    ul {
      gap: vw(6px);
      overflow-x: auto;

      li {
        white-space: nowrap;

        a {
          gap: vw(6px);
        }

        a, span {
          font-size: vw(12px);
        }
      }
    }
  }
  .product-page {
    &__block {
      gap: 10px;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
    }

    &__slider {
      width: 100%;
    }

    &__info {
      width: 100%;
    }

    .code {
      padding: vw(4px) vw(8px);
    }

    .subtitle {
      margin: vw(10px) 0;
    }

    &__text {
      width: 100%;
    }
  }
  .product-colors {
    margin: vw(12px) 0;

    .btn {
      margin-top: vw(14px);
    }

    &__cont {
      margin: vw(14px) 0 0;
    }

    &__head {
      > span {
        gap: vw(6px);
      }
    }
  }
  .colors-list {
    gap: vw(14px);

    .sg-color {

      span {
        width: vw(26px);
        height: vw(26px);
      }
    }
  }
  .product-slider {
    &__main {
      .tags {
        top: vw(14px);
        left: vw(14px);
      }
    }

    &__thumb {
      margin-top: vw(13px);
    }
  }
  .product-prices {
    gap: vw(14px);
  }
  .product-price {
    span {
      font-size: vw(12px);
      margin-bottom: vw(6px);
    }

    p {
      font-size: vw(16px);
      gap: vw(8px);
    }

    .discount {
      font-size: vw(14px);
      padding: vw(4px) vw(8px);
    }
  }
  .product-control {
    gap: vw(14px);
    flex-wrap: wrap;

    .btn {
      width: 100%;
      height: vw(42px);
      padding-left: vw(10px);
      padding-right: vw(10px);
    }
  }
  .quantity {
    height: vw(42px);

    & > div:not(.quantity-wrap) {
      width: vw(42px);
      font-size: vw(14px);
    }

    .quantity-wrap {
      width: vw(96px);

      input {
        font-size: vw(14px);
      }
    }
  }
  .product-rating {
    margin-bottom: vw(20px);
  }
  .product-info__block {
    margin-bottom: vw(14px);

    > span {
      font-size: vw(18px);
      margin-bottom: vw(14px);
    }
  }
  .product-info__text {
    .txt {
      ul {
        gap: vw(14px);
        margin-bottom: vw(4px);
        padding: vw(4px) 0;
      }
    }

    .txt-blk {
      max-height: vw(85px);
    }

    .opn {
      margin-top: vw(10px);
    }

    .txt {
      &.open {
        .txt-blk {
          max-height: vw(400px);
        }
      }
    }
  }
  .variants {
    padding: vw(35px) 0;

    &__slider {
      margin-top: vw(30px);
    }
  }
  .single-variant {
    .img {
      margin-bottom: vw(10px);
    }

    .txt {
      span {
        font-size: vw(18px);
        margin-bottom: vw(8px);
      }
    }
  }
  .textual-block {
    padding: vw(30px) 0;

    &__cont {
      gap: vw(20px);
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;

      .txt {
        padding: 0 vw(20px);
        width: 100%;

        span, h2 {
          :not(.subtitle) {
            font-size: vw(18px);
          }

        }

        p {
          margin-bottom: vw(15px);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }
  }
  .personal-list {
    margin-top: vw(30px);
    gap: vw(14px);

    .single-variant {
      //7px
      width: calc(50% - 1.7949vw);
      padding: vw(10px);

      .img {
        margin-bottom: vw(10px);
      }

      .txt {
        span {
          font-size: vw(18px);
        }
      }
    }
  }
  .textual-block__cont .img-b {
    width: 100%;
  }
  .textual-block {
    &.textual-block--reverse {
      .textual-block__cont {
        flex-direction: column-reverse;
      }
    }
  }
  .products-like {
    padding: vw(30px) 0;

    &__cont {
      .subtitle {
        margin-bottom: vw(35px);
      }
    }
  }
  .reviews {
    padding: vw(25px) 0;

    &__cont {
      .subtitle {
        margin-bottom: vw(35px);
      }
    }
  }
  .select-product {
    margin-top: vw(14px);
  }
  .nice-select {
    span {
      padding: vw(6px) vw(12px);

      &::after {
        width: vw(18px);
        height: vw(18px);
        right: vw(12px);
      }
    }

    .list {
      max-height: vw(240px);

      li {
        padding: vw(6px) vw(12px);
      }
    }
  }
  .upload-file {
    margin: vw(10px) 0;

    .codedropz-upload-inner {
      h3, a {
        font-size: vw(18px);
      }
    }

    .codedropz-upload-container {
      padding: vw(10px) vw(14px);
    }
  }
  .slider-btn {
    width: vw(30px);
    height: vw(38px);
  }

  .photo-process {
    padding: vw(30px) 0;

    &__cont {
      gap: vw(14px);
      flex-direction: column;
      align-items: flex-start;

      .txt {
        width: 100%;
      }

      .img-b {
        width: 100%;
        margin: vw(14px) 0;
      }
    }
  }
  .variants-list {
    gap: vw(12px);

    .single-variant {
      //6px
      width: calc(50% - 1.5385vw);

      .txt {
        padding-right: vw(10px);
      }
    }
  }
  .requirements {
    padding: vw(35px) 0;

    &__list {
      gap: vw(20px) vw(14px);
    }
  }
  .single-req {
    //7px
    width: calc(50% - 1.7949vw);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: vw(14px);

    .ic {
      width: vw(70px);
      height: vw(70px);

      img {
        max-width: vw(45px);
        max-height: vw(45px);
      }
    }

    .txt {
      span {
        font-size: vw(18px);
        margin-bottom: vw(5px);
      }
    }
  }
  .allowed {
    padding: vw(35px) 0;

    &-list {
      gap: vw(14px);
      flex-wrap: wrap;
    }

    &--four {
      .allow-image {
        width: calc(50% - 1.7949vw);
      }
    }
  }
  .allow-image {
    width: 100%;
    flex: initial;

    .img::before {
      width: vw(40px);
      height: vw(40px);
      top: vw(10px);
      right: vw(10px);
    }
  }
  .requirements-baby {
    padding: vw(35px) 0;

    &__cont {
      .subtitle {
        margin-bottom: vw(10px);
      }
    }

    &__list {
      margin-top: vw(35px);
      gap: vw(14px);
    }
  }
  .req-baby {
    //7px
    width: calc(50% - 1.7949vw);
    padding: vw(14px);

    .ic {
      width: vw(30px);
      height: vw(30px);
      margin-bottom: vw(14px);
    }

    .txt {
      span {
        font-size: vw(18px);
        margin-bottom: vw(10px);
      }
    }
  }

  .shopping {
    padding: vw(30px) 0;

    &__cont {
      gap: vw(14px);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-left {
      width: 100%;
    }

    &-right {
      width: 100%;
      margin-top: vw(12px);
      padding: vw(30px) vw(20px);

      &__text {
        margin-bottom: vw(14px);

        > span {
          font-size: vw(20px);
          margin-bottom: vw(14px);
        }

        > ul {
          li {
            gap: vw(8px);
            padding: vw(5px) 0;

            &.total {
              font-size: vw(18px);
            }
          }
        }
      }
    }
  }
  .promo-block {
    &.open {
      max-height: vw(300px);
    }
  }
  .promo-head {
    padding: vw(10px) 0;

    span {
      font-size: vw(16px);
    }

    &::after {
      width: vw(18px);
      height: vw(18px);
      right: vw(8px);
    }
  }
  .promo-cont {
    .btn {
      margin-top: vw(14px);

    }

    form {
      padding: vw(8px) 0 0;
    }
  }
  .input-wrap {
    label {
      margin-bottom: vw(5px);
    }

    input, textarea {
      padding: vw(8px) vw(15px);
      height: vw(44px);
    }

    textarea {
      height: vw(100px);
    }
  }
  .shopping-right__btns {
    padding-top: vw(14px);
    margin-top: vw(14px);
    gap: vw(14px);

    .btn {
      &.btn--big {
        font-size: vw(18px);
      }
    }
  }
  .carts-block {
    .btn {
      width: 100%;
    }

    &__head {
      display: none;
    }

    &__center {
      margin-bottom: vw(14px);
    }

    &__line {
      flex-wrap: wrap;
      gap: 10px 0;
      align-items: stretch;
      justify-content: flex-start;
      padding: vw(20px) 0;

      .carts-block__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        > p {
          margin-top: auto;
          margin-bottom: auto;
          font-size: vw(16px);
        }

        &:nth-child(1) {
          width: 100%;
        }

        &:nth-child(2) {
          width: 50%;
        }

        &:nth-child(3) {
          width: 50%;
        }

        &:nth-child(4) {
          width: 100%;
        }

        > small {
          font-size: 14px;
          display: inline-block;
          margin-bottom: vw(6px);
        }

      }
    }
  }
  .cart-item {
    gap: 20px;

    .img {
      //20px
      width: calc(50% - 5.1282vw);
      height: 0;
      padding-top: calc(50% - 5.1282vw);
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .txt {
      width: 50%;

      a {
        font-size: vw(14px);
      }
    }
  }
  .carts-block__line {
    .remove {
      top: vw(10px);
      transform: translate(0, 0);
      width: vw(28px);
      height: vw(28px);

      &::before, &::after {
        width: vw(15px);
      }
    }
  }

  .checkout-block {
    margin-bottom: vw(40px);

    .form-part {
      margin-bottom: vw(35px);
    }
  }
  .form-title {
    padding-bottom: vw(10px);
    margin-bottom: vw(10px);
    font-size: vw(16px);
  }
  .form-part__inputs {
    gap: vw(14px);

    .input-wrap {
      width: 100%;
    }
  }
  .input-radio {
    .radio-input {
      strong {
        margin-bottom: vw(5px);
      }

      &::before {
        width: vw(21px);
        height: vw(21px);
      }

      &::after {
        width: vw(13px);
        height: vw(13px);
        left: vw(4px);
        top: vw(4px);
      }
    }
  }

  .header-bot__cont {
    position: static;
  }
  .mini-cart {
    right: vw(20px);
    left: vw(20px);
    margin-top: vw(20px);
    width: auto;

    .cls-mc {
      width: vw(18px);
      height: vw(18px);
      right: vw(5px);
      top: vw(5px);

      span {
        width: vw(14px);
      }
    }

    .shopping-right__text {
      padding: vw(20px) vw(20px);

      .btn {
        font-size: vw(18px);
        margin-top: vw(14px);
      }
    }

    .mini-cart__list {
      padding: vw(14px) vw(20px) vw(20px);
    }

    .cart-item {
      .img {
        width: vw(70px);
        height: vw(70px);
        padding-top: 0;
      }
    }
  }

  .thanks {
    padding: vw(35px) 0;

    &__cont {
      max-width: 100%;

      .subtitle {
        margin-bottom: vw(14px);
      }
    }

    .ord-numb {
      padding: vw(4px);
    }
  }
  .order-details {
    margin-top: vw(30px);

    &__ship {
      gap: vw(15px);
      flex-direction: column;
      margin-top: vw(14px);
      margin-bottom: vw(20px);

      .txt {
        width: 100%;
        max-width: 100%;
      }

      &-detail {
        width: 100%;
        padding: vw(25px) vw(20px);
      }
    }

    &__side {
      margin-top: vw(24px);
      gap: vw(20px);
      flex-direction: column-reverse;
    }

    &__right {
      width: 100%;

      > span {
        margin-bottom: vw(5px);
      }

      .cart-item {
        margin-bottom: vw(14px);

        .img {
          width: vw(70px);
          height: vw(70px);
          padding: 0;
        }
      }
    }

    &__left {
      width: 100%;

      ul {
        li {
          padding: vw(5px) 0;
        }
      }
    }
  }

  .about-us {
    padding: vw(30px) 0;

    &__top {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: vw(14px);
    }

    &__center {
      margin-top: vw(40px);
      gap: vw(30px);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .txt {
        width: 100%;
      }
    }

    .txt {
      .subtitle {
        margin-bottom: vw(14px);
      }

      span, h2 {
        &:not(.subtitle) {
          font-size: vw(18px);
        }

        margin-bottom: vw(14px);
      }

      p {
        margin-bottom: vw(14px);
      }
    }

    &__images {
      width: 100%;
      grid-gap: vw(10px);
    }
  }
  .products-like {
    padding: vw(35px) 0;
  }
  .products-like__top {
    margin-bottom: vw(35px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: vw(14px);

    .subtitle {
      margin-bottom: 0;
    }

    .btn {

      font-size: vw(18px);
      width: 100%;
    }
  }

  .article {
    padding: vw(35px) 0;

  }
  .textual-page {
    max-width: 100%;

    h1, h2, h3, h4, h5, h6 {
      margin-top: vw(14px);
    }

    h2, h3 {
      font-size: vw(22px);
    }

    h4, h5, h6 {
      font-size: vw(20px);
    }

    h1 {
      margin-bottom: vw(25px);
    }

    p {
      margin-top: vw(14px);
    }

    p, li {
      font-size: vw(14px);
    }

    ul {
      margin-top: vw(14px);

      li {
        padding-left: vw(14px);

        &::before {
          width: vw(5px);
          height: vw(5px);
          top: vw(9px);
          left: vw(4px);
        }
      }
    }

    ol {
      margin-top: vw(14px);

      li {
        padding-left: vw(14px);
      }
    }
  }
  .contact {
    padding: vw(30px) 0 vw(35px);

    &__top {
      flex-direction: column;
      gap: vw(14px);
    }

    &__left, &__right {
      width: 100%;

      .form-title {
        margin-bottom: vw(14px);
      }
    }

    &__center {
      margin-top: vw(30px);
      padding: vw(30px) vw(20px);
      gap: vw(14px);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__form {
      .btn {
        font-size: vw(18px);
        width: 100%;
      }

      .form-part__inputs {
        margin-bottom: vw(14px);
      }
    }

    &__img {
      width: 100%;
      margin-top: vw(20px);

      .img {
        height: 0;
        padding-top: 120%;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .contact-map {
    padding-top: 74%;
  }

  .page404 {
    padding: vw(35px) 0;

    &__cont {
      gap: vw(20px);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__left {
      width: 100%;

      .subtitle {
        margin-bottom: vw(30px);
        margin-top: vw(20px);
      }
    }

    &__image {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .txt {
      span {
        font-size: vw(16px);
        max-width: 100%;
        margin-bottom: vw(15px);
      }

      p {
        max-width: 100%;
      }

      .btn {
        font-size: vw(18px);
        width: 100%;
        margin-top: vw(40px);
      }
    }
  }
  //  done
  .header {
    .menu {

      > ul {
        gap: vw(2px);

        > li {
          > a {
            padding-top: vw(12px);
            padding-bottom: vw(12px);
            padding-right: vw(30px);
          }

          &.menu-item-has-children {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;

            .arr-btn {
              position: absolute;
              display: flex;
              width: vw(28px);
              height: vw(28px);
              right: 0;
              top: 50%;
              transform: translate(0, -50%);
              transition: all 0.3s ease-out;
              border: 1px solid $black;

              &::after {
                width: vw(20px);
                height: vw(20px);
                background: url("../img/arr-b.svg") no-repeat center/100%;
                display: inline-block;
                content: '';
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -50%);
                transition: all 0.3s ease-out;
              }
            }

            &.open {
              .arr-btn {
                transform: translate(0, -50%) rotate(180deg);
              }

              > ul {
                display: flex;
              }
            }

            > a {
              position: relative;


              &::after {
                content: none;
              }
            }
          }

          > ul {
            display: none;

            &::before {
              content: none;
            }

            box-shadow: none;


            transform: none;
            width: 100%;
            padding: vw(5px) vw(8px) vw(20px);
            opacity: 1;
            pointer-events: auto;
            position: static;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
            border-bottom: 1px solid $main-color;

            > li {
              > a {
                margin-top: vw(10px);
                margin-bottom: vw(5px);
              }

              > ul {
                gap: 0;

                a {
                  padding: vw(6px) 0;
                }
              }
            }

            li {
              width: 100%;

              &:has(.current-image), &:where(.current-image) {
                display: none;
              }
            }

            .current-image {
              width: 100%;
              height: auto;

            }

          }
        }
      }
    }
  }
}